<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AlpineGuesthouse - pokoje</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h2>Lista pokoi</h2>
<table>
    <thead>
    <tr>
        <th>Numer</th>
    </tr>
    </thead>
    <tr>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.number}"/>
        </tr>
        </tbody>
</table>
</body>
</html>
